
.container {
    display: flex;
    

    
  }
.horizontal{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;

}
.title{
  display: flex;
  
  justify-content: center;

}


  header, main, aside, footer {
    background-color: rgb(177, 201, 204);
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }
  body{
    
    
    background-color: rgb(124, 144, 147);
  }
  aside{
    height: 500px;
    flex: 0 0 15%;
    display: flex;
    float: left;
    
  }
   
  main {
    
    height: 500px;
    flex: 1; /* Take up remaining space */
   
  }
  footer{
    
    height: 50px;
  }
  #results {
    display: flex; /* Use flexbox layout */
    flex-wrap: wrap; /* Allow cards to wrap to the next line if needed */
    gap: 10px; /* Add some space between cards */
}
#results1 {
  display: flex; /* Use flexbox layout */
  flex-wrap: wrap; /* Allow cards to wrap to the next line if needed */
  gap: 10px; /* Add some space between cards */
}
#results2{
  
 display: flex;
 flex-direction: column;
 

 
}

  .list-of-ppl {
    border: 1px solid #000000;
    background-color: #d3dfe0;
    box-shadow: 3px 3px 3px black ;
    width:200px ;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    display: flex; /* Use flexbox layout */
    flex-direction: column; 
}
.list-of-ppl p{
  margin: 1px 0;

}

.beauty{
        background-color: rgb(89, 165, 96);
        
        border:none;
        height:36px;
        width:100px;
        border-radius:5px;
        margin-right: 10px; 
        
}
.beauty:hover{
    background-color: rgb(2, 108, 41);
     color:rgb(0, 0, 0);

}
.beauty:active{
  opacity: 0.3;

}

@media(max-width: 500px){
  
  .container {
    flex-direction: column;
  }

  main{
    order:1;
  }
   
  aside{
    order:2;
  
  }
  footer{
    order: 3;
  }

}

